* {
    box-sizing: border-box;
}

body {
    background: lightgray;
    text-align: center;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Inter';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #1A1B21;
    width: 317px;
    border-radius: 16px 16px 0 0;
    padding-bottom: 15px;
}

.img-profile {
    width: 317px;
    /* padding: 16px 8px; */
    /* border: 2px solid blue; */
    border-radius: 16px 16px 0 0;
}

.title-name {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.position-dev {
    color: #F3BF99;
    font-size: 12.8px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.web-dev {
    font-size: 10.24px;
    font-weight: 400;
    margin-top: 0;
}

a {

    border: none;
    border-radius: 5px;
    margin-right: 12px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
}

.btn-email {
    background: white;
    color: black;
}

.img-email {
    width: 12px;
}

.btn-linkedin {
    background: #5093E2;
    color: white;
}

.img-linkedin {
    width: 12px;
}

/* Styling About */

.main-content {
    background: #1A1B21;
    width: 317px;
    text-align: left;
    /* padding-bottom: 10px; */
}

.content-about {
    width: 217px;
}

.content-interests {
    width: 217px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    margin-top: 0;
    font-size: 10.24px;
    /* font-weight: 400; */

}

/* footer Styling */
footer {
    width: 317px;
    background: #161619;
    border-radius: 0 0 16px 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-footer {
    margin-right: 20px;
}