* {
    box-sizing: border-box;
}

body {
    font-family: Karla, sans-serif;
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
}

main {
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

button {
    font-family: Karla, sans-serif;
    border: none;
    cursor: pointer;
}

.dice-container button {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: white;
    font-size: 1.75rem;
    font-weight: bold;
}

/* Con la linea 82-84
cambio de  width: 150px → auto, cambio a 'Intrinsic sizing'
Uso de padding en lugar de width -> Content-based layout
Eliminación de tamaño fijo -> Flexible component design
Mejor accesibilidad  -> WCAG-compliant UI

Esto encaja con:
OOCSS → estructura separada del contenido
BEM → componente autónomo
Design Systems → botones escalables
Mobile First → no dependes de px fijos 

✔ Tamaño táctil
✔ Tipografía relativa
✔ 100% responsive

*/

button.roll-dice {
    height: 50px;
    white-space: nowrap;
    width: auto;
    /*enfoque moderno*/
    padding: 6px 21px;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}